{% include 'header.html' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Master Supplier</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/formmastersupplier">Tambah</a></li>
            <li class="breadcrumb-item active"><a href="/mastersupplier">Data</a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Data Supplier</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Nama</th>
                  <th>Alamat</th>
                  <th>Kota</th>
                </tr>
              </thead>
              <tbody>
                {% for rs in data %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ rs.0 }}</td>
                  <td>{{ rs.1 }}</td>
                  <td>{{ rs.2 }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </div>
</section>
    <!-- /.content -->
</div></div>
  {% include 'footer.html' %}